<form id="formDailyModal" name="form.formDailyModal" novalidate>
    <div class="col-sm-12 col-md-12 col-lg-12 no-padding">
        <div class="col-sm-12 col-md-12 col-lg-12 no-padding alert-boxpopup">
            <span class="type"></span>:
            <span class="message"></span>
            <img class="close disabled" src="Content/images/close.png" />
        </div>
        <!-- Header -->
        <div id="upHeader" class="col-sm-12 col-md-12 col-lg-12 main-head clear dialog-header" style="border-bottom: solid 1px #b9b9b9;">
            <div class="col-sm-3 col-md-3 col-lg-3 no-padding">{{ScreenTitle}} <span>DAILY</span></div>
            <div class="col-sm-4 col-md-4 col-lg-4 no-padding HeadNote">
                <sup><img src="Content/images/red_asterisk.png" alt=""></sup>Please do not leave these fields empty.
            </div>
            <div class="col-sm-5 col-md-5 col-lg-4 pull-right no-padding">
                <div class="col-sm-12 nav-buttons clear">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button class="k-button k-button-icontext" id="btnCancel" style="text-decoration:none" ng-click="closeDialog1()">
                                    <span class="k-icon k-update  k-i-close"></span>
                                    Close
                                </button>
                            </li>
                            <li ng-show="ngDialogData.DAILY_ID > 0 && AllowToEdit">
                                <button type="submit" class="k-button k-button-icontext" id="btnRepeat" ng-click="ValidateAndPostData(form.formDailyModal, true, 'repeat')">
                                    <span class="k-icon k-update k-i-reload"></span>
                                    Repeat
                                </button>
                            </li>
                            <li ng-show="ngDialogData.DAILY_ID > 0 && AllowToEdit">
                                <button type="submit" class="k-button k-button-icontext" ng-click="ExportWholeDaily1()">
                                    <span class="k-icon k-i-file-excel"></span>
                                    Export
                                </button>
                            </li>
                            <li ng-show="AllowToEdit">
                                <button type="submit" class="k-button k-button-icontext k-grid-save-changes" id="btnSave" ng-click="ValidateAndPostData(form.formDailyModal, true)" >
                                    <span class="k-icon k-update  k-i-check"></span>
                                    Save
                                </button>
                            </li>                         
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 event-select daily-top-section clear" ng-disabled="!AllowToEdit">
            <div class="col-sm-4 col-md-4 col-lg-4" >
                <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Project ID</label>
                <select id="ddlProjectId" hylan-control-validation hylancontrolname="ProjectId" hylancontrollabel="Project ID" 
                        name="ddlProjectId" class="form-control" required
                        ng-class="{ 'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.PROJECT_ID, form.formDailyModal.ddlProjectId),'Disabled':!FirstPageSelected}"
                        ng-model="dailyDCModel.PROJECT_ID"
                        ng-init="dailyDCModel.PROJECT_ID = dailyDCModel.PROJECT_ID !== 0 ? dailyDCModel.PROJECT_ID : null"
                        ng-options="x.PROJECT_ID as x.HYLAN_PROJECT_ID for x in DSProjects"
                        ng-change="ChangeStart();FillJobFileNumberDropDown();"
                        ng-disabled="!FirstPageSelected">
                    <option value="">-- Select Project ID --</option>
                </select>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" >
                <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Job File #</label>
                <select id="ddlJobFileNumber" hylan-control-validation hylancontrolname="ddlJobFileNumber" hylancontrollabel="Job File #"
                        name="ddlJobFileNumber" class="form-control" required 
                        ng-class="{ 'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.JOB_ID, form.formDailyModal.ddlJobFileNumber),'Disabled':!FirstPageSelected }"
                        ng-model="dailyDCModel.JOB_ID"
                        ng-disabled="!FirstPageSelected"
                        ng-options="JFN.VALUE as JFN.TEXT + '-' + JFN.TEXT2  for JFN in DSJobFileNumbers"
                        ng-change="ChangeStart();OnChangeJobFileNumber();">
                    <option value="">-- Select Job File Number --</option>
                </select>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" >
                <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Daily Type</label>
                <select id="ddlDailyType" hylan-control-validation hylancontrolname="DailyType" hylancontrollabel="Daily Type" name="ddlDailyType" class="form-control" required
                        ng-class="{ 'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.DAILY_TYPE, form.formDailyModal.ddlDailyType), 'Disabled':!FirstPageSelected || ngDialogData.DAILY_ID > 0}"
                        ng-model="dailyDCModel.DAILY_TYPE" ng-init="dailyDCModel.DAILY_TYPE = dailyDCModel.DAILY_TYPE !== 0 ? dailyDCModel.DAILY_TYPE : null"
                        ng-options="lu.LOOK_UP_ID as lu.LU_NAME for lu in dailyTypeOptions"
                        ng-change="OnChangeDailyType()"
                        ng-disabled="!FirstPageSelected || ngDialogData.DAILY_ID > 0">
                    <option value="">-- Select Daily Type --</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 page-toolbar clear" ng-disabled="!AllowToEdit">
            <div class="col-sm-1 col-md-1 col-lg-1 no-padding">
                <div id="backButton" class="pull-left back-button hide" ng-click="ValidateAndPostData(form.formDailyModal, false, 'back');">Back</div>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 no-padding">
                <ul class="progress-indicator">
                    <span class="line"></span>
                    <li id="li-page1" class="active-page" ng-class="{'completed':ngDialogData.DAILY_ID > 0}" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page1');">
                        <span class="bubble"></span>
                        <span class="page-title">Job & Daily</span>
                        <span class="page-info"></span>
                    </li>
                   <li id="li-page10" ng-class="{'completed':dailyDCModel.DAILY_TYPE_NOTES != undefined && dailyDCModel.DAILY_TYPE_NOTES != '' }" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page10');">
                      <span class="bubble"></span>
                      <span class="page-title">Notes</span>
                      <span class="page-info"></span>
                   </li>
                    <li id="li-page2" ng-class="{'completed':dailyDCModel.MP_COUNT > 0}" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page2');">
                        <span class="bubble completed"></span>
                        <span class="page-title">Manpower</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page3" ng-class="{'completed':dailyDCModel.MP_COUNT > 0}" class="hide" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page3');">
                        <span class="bubble"></span>
                        <span class="page-title">Labor</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page4" ng-class="{'completed':dailyDCModel.VV_COUNT > 0}" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page4');">
                        <span class="bubble"></span>
                        <span class="page-title">Vehicles</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page7" ng-class="{'completed':dailyDCModel.LV_COUNT > 0}" class="hide" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page7');">
                        <span class="bubble"></span>
                        <span class="page-title">Labor Item</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page8" ng-class="{'completed':dailyDCModel.AR_COUNT > 0}" class="hide" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page8');">
                        <span class="bubble"></span>
                        <span class="page-title">Aerial</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page5" ng-class="{'completed':dailyDCModel.MV_COUNT > 0}" class="hide" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page5');">
                        <span class="bubble"></span>
                        <span class="page-title">Materials</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page9" ng-class="{'completed':dailyDCModel.MDU_COUNT > 0}" class="hide" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page9');">
                        <span class="bubble"></span>
                        <span class="page-title">MDU</span>
                        <span class="page-info"></span>
                    </li>
                    <li id="li-page6" ng-class="{'completed':dailyDCModel.MP_COUNT > 0}" ng-click="ValidateAndPostData(form.formDailyModal, false, '', 'page6');">
                        <span class="bubble"></span>
                        <span class="page-title">Work Details</span>
                        <span class="page-info"></span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 no-padding">
                <div id="nextButton" class="pull-right next-button" ng-click="ValidateAndPostData(form.formDailyModal, false,'next');" >Next</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 up-section clear no-padding" id="pageSection" ng-disabled="!AllowToEdit">
            <div id="divAjaxLoader" class="overlay hide"><div class="ajax-loader"></div></div>
            <div id="page1" data-page-title="Job & Daily Details" class="col-sm-12 col-md-12 col-lg-12 no-padding">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Client</label>
                    <input id="txtClientPM" ng-required="!DisableJobDetails" name="txtClientPM"
                           ng-disabled="DisableJobDetails" ng-class="{'Disabled': DisableJobDetails ,'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal, form.formDailyModal.txtClientPM)}"
                           hylan-control-validation hylancontrolname="Client" hylancontrollabel="Client" type="text" class="form-control event-select" 
                           ng-model="dailyDCModel.CLIENT_PM" ng-maxlength="250" ng-change="ChangeStart()" />
                    
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">Node ID1</label>
                    <input name="txtNodeID1" id="txtNodeID1"
                           ng-disabled="DisableJobDetails" 
                           hylan-control-validation hylancontrolname="NodeID1" hylancontrollabel="Node ID1" type="text" class="form-control event-select"
                           ng-class="{ 'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal, form.formDailyModal.txtNodeID1),'Disabled': DisableJobDetails }" 
                           ng-model="dailyDCModel.NODE_ID1" ng-maxlength="250" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Work Date</label>
                    <input type="text" id="calDailyDate" required name="calDailyDate" kendo-date-picker
                           class="date-control" 
                           ng-class="{ 'has-error' : commonValidationService.IsValidDateCheck(form.formDailyModal, form.formDailyModal.calDailyDate, dailyDCModel.DAILY_DATE) || commonValidationService.ValidateTextBoxes(form.formDailyModal, form.formDailyModal.calDailyDate, dailyDCModel.DAILY_DATE) }"
                           ng-model="dailyDCModel.DAILY_DATE" ng-change="ChangeStart()" 
                           hylan-control-validation hylancontrolname="DailyDate" hylancontrollabel="Work Date"  />
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">Node ID2</label>
                    <input name="txtNodeID2" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal, form.formDailyModal.txtNodeID2),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="NodeID2" hylancontrollabel="Node ID2" type="text" class="form-control event-select" ng-model="dailyDCModel.NODE_ID2" ng-maxlength="250" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">Node ID3</label>
                    <input name="txtNodeID3" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal,form.formDailyModal.txtNodeID3),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="NodeID3" hylancontrollabel="Node ID3" type="text" class="form-control event-select" ng-model="dailyDCModel.NODE_ID3" ng-maxlength="250" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Day(s)</label>
                    <select id="ddlDailyDays" hylan-control-validation hylancontrolname="Days" hylancontrollabel="Day(s)"
                            name="ddlDailyDays" class="form-control"
                            ng-class="{ 'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.DAILY_DAYS, form.formDailyModal.ddlDailyDays)}"
                            required ng-model="dailyDCModel.DAILY_DAYS"
                            ng-options="day as day for day in DaysDS"
                            ng-init="dailyDCModel.DAILY_DAYS = dailyDCModel.DAILY_DAYS !== 0 ? dailyDCModel.DAILY_DAYS : null"
                            ng-change="ChangeStart()">
                        <option value="0">-- Select Days --</option>
                    </select>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">HUB</label>
                    <input name="txtHub" id="txtHub" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal, form.formDailyModal.txtHub),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="Hub" hylancontrollabel="HUB" type="text" class="form-control event-select" ng-model="dailyDCModel.HUB" ng-maxlength="250" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="control-label">HYLAN PM</label>
                    <select name="ddlHylanPM" id="ddlHylanPM"  ng-disabled="DisableJobDetails" ng-class="{'Disabled': DisableJobDetails}"
                            class="form-control" ng-model="dailyDCModel.HYLAN_PM" ng-options="x.USER_ID as (x.LAST_NAME+', '+x.FIRST_NAME)
                    for x in DSAdminUsers" ng-change="ChangeStart()">
                        <option value="">-- Select Hylan PM --</option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Status</label>
                    <select id="ddlDailyStatus" hylan-control-validation hylancontrolname="Status" hylancontrollabel="Status"
                            name="ddlDailyStatus" class="form-control"
                            ng-class="{ 'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.STATUS, form.formDailyModal.ddlDailyStatus)}"
                            required ng-model="dailyDCModel.STATUS"
                            ng-options="lu.LOOK_UP_ID as lu.LU_NAME for lu in dailyStatusLU"
                            ng-init="dailyDCModel.STATUS = dailyDCModel.STATUS !== 0 ? dailyDCModel.STATUS : null"
                            ng-change="ChangeStart()">
                        <option value="0">-- Select Status --</option>
                    </select>
                </div>

                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Street Address</label>
                    <input name="txtStreetAddress" id="txtStreetAddress" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal, form.formDailyModal.txtStreetAddress),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="StreetAddress" hylancontrollabel="Street Address" type="text" class="form-control event-select" 
                           ng-model="dailyDCModel.STREET_ADDRESS" ng-required="!DisableJobDetails" ng-maxlength="250" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>City</label>
                    <input name="txtCity" id="txtCity" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal,form.formDailyModal.txtCity),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="City" hylancontrollabel="City" type="text" class="form-control event-select" ng-model="dailyDCModel.CITY" ng-required="!DisableJobDetails" ng-maxlength="50" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>Shift</label>
                    <select id="ddlDailyShift" hylan-control-validation hylancontrolname="Shift" hylancontrollabel="Shift"
                            name="ddlDailyShift" class="form-control"
                            ng-class="{ 'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.SHIFT, form.formDailyModal.ddlDailyShift)}"
                            required ng-model="dailyDCModel.SHIFT"
                            ng-options="lu.LOOK_UP_ID as lu.LU_NAME for lu in dailyShiftLU"
                            ng-init="dailyDCModel.SHIFT = dailyDCModel.SHIFT !== 0 ? dailyDCModel.SHIFT : null"
                            ng-change="ChangeStart()">
                        <option value="0">-- Select Shift --</option>
                    </select>
                </div>

                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label"><sup><img src="Content/images/red_asterisk.png" /></sup>State</label>
                    <select name="ddlState" id="ddlState" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateDropDown(form.formDailyModal, dailyDCModel.STATE, form.formDailyModal.ddlState),'Disabled': DisableJobDetails}"
                            hylan-control-validation hylancontrolname="State" hylancontrollabel="State" class="form-control" ng-model="dailyDCModel.STATE" ng-init="dailyDCModel.STATE = dailyDCModel.STATE !== 0 ? dailyDCModel.STATE : null"
                            ng-options="x.ST_STATE as x.ST_STATE
                    for x in DSStates" ng-change="ChangeStart()" ng-required="!DisableJobDetails">
                        <option value="">-- Select State --</option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">ZIP</label>
                    <input name="txtZip" id="txtZip" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal,form.formDailyModal.txtZip),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="Zip" hylancontrollabel="ZIP" positive-number-only type="text" class="form-control event-select" ng-model="dailyDCModel.ZIP" ng-maxlength="5" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="control-label">Day of Week</label><br />
                    <label class="form-control disabled">{{dailyDCModel.DAY_OF_WEEK}}</label>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">Latitude</label>
                    <input id="txtLatitude" name="txtLatitude" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal,form.formDailyModal.txtLatitude),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="Latitude" hylancontrollabel="Latitude" type="text" class="form-control event-select" ng-model="dailyDCModel.LAT" ng-maxlength="50" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">Longitude</label>
                    <input name="txtLongitude" id="txtLongitude" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal,form.formDailyModal.txtLongitude),'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="Longitude" hylancontrollabel="Longitude" type="text" class="form-control event-select" ng-model="dailyDCModel.LONG" ng-maxlength="50" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="control-label">Work Order #</label>
                    <input name="txtWorkOrder" id="txtWorkOrder"  hylan-control-validation hylancontrolname="WorkOrder" hylancontrollabel="Work Order #" type="text"
                           class="form-control event-select" ng-model="dailyDCModel.WORK_ORDER_NUMBER" ng-maxlength="100" ng-change="ChangeStart()" />
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-4 col-md-4 col-lg-4" >
                    <label class="control-label">Pole Location</label>
                    <input  name="txtPoleLocation" id="txtPoleLocation" ng-disabled="DisableJobDetails" ng-class="{'has-error' : commonValidationService.ValidateTextBoxes(form.formDailyModal,form.formDailyModal.txtPoleLocation) ,'Disabled': DisableJobDetails}"
                           hylan-control-validation hylancontrolname="Location" hylancontrollabel="Pole Location" type="text" class="form-control event-select" ng-model="dailyDCModel.POLE_LOCATION" ng-maxlength="250" ng-change="ChangeStart()" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                   <label class="control-label">Quick Notes</label>
                   <textarea id="txtQuickNotes" class="form-control HeightQNotes" ng-model="dailyDCModel.QUICK_NOTES" cols="60" rows="32" maxlength="20000" ng-change="ChangeStart()"></textarea>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="control-label">Track Revenue</label>
                    <input name="txtTrackRevenue" id="txtTrackRevenue" 
                           hylan-control-validation hylancontrolname="TrackRevenue" 
                           hylancontrollabel="Track Revenue" 
                           type="text"
                           class="form-control event-select" 
                           format-amount-input
                           maxlength="14"
                           ng-model="dailyDCModel.TRACK_REVENUE" 
                           ng-change="ChangeStart()" />
                </div>

            </div>
           <div id="page10" data-page-title="Notes" class="col-sm-12 col-md-12 col-lg-12 no-padding hide">
              
              <div class="col-sm-12 col-md-12 col-lg-12">
                 <label class="control-label">Notes</label>
                 <textarea id="txtNotes" class="form-control Height1" ng-model="dailyDCModel.DAILY_TYPE_NOTES"  cols="60" rows="32" maxlength="20000" ng-change="ChangeStart()"></textarea>
              </div>
             

           </div>
            <div id="page2" data-page-title="Manpower" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridManPower" kendo-grid="grid"></div>
            </div>
            <div id="page3" data-page-title="Labor" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridLabor" kendo-grid="grid" ></div>
            </div>
            <div id="page4" data-page-title="Vehicles" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridVehicles" kendo-grid="grid"></div>
            </div>
            <div id="page7" data-page-title="Labor Item" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridLaborItem" kendo-grid="grid"></div>
            </div>
            <div id="page8" data-page-title="Aerial" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridAerial" kendo-grid="grid"></div>
            </div>
            <div id="page5" data-page-title="Materials" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridMaterials" kendo-grid="grid"></div>
            </div>
            <div id="page9" data-page-title="MDU" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridMDU" kendo-grid="grid"></div>
            </div>
            <div id="page6" data-page-title="Work Details" class="col-sm-12 col-md-12 col-lg-12 hide">
                <div id="gridWorkDetails" kendo-grid="grid"></div>
            </div>
        </div>
    </div>
    <style>
        
        #formDailyModal #pageSection{
            overflow-y:auto;
        }
        #formDailyModal #pageSection tfoot{
            display:table-header-group !important;
        }
        #formDailyModal .Height1 {
            height: 400px !important;
        }
       #formDailyModal .HeightQNotes {
            height: 45px !important;
       }
        #formDailyModal .nav-buttons {
            padding: 0px !important;
            margin: 0px !important;
        }

        #formDailyModal .date-control {
            width: 100%;
        }

        #formDailyModal .form-control {
            font-size: 12px;
        }


        #formDailyModal .main-head {
            margin-bottom: 0px;
            height: 46px;
        }


        #formDailyModal label {
            margin-bottom: 2px;
        }

        #formDailyModal .SummaryRow td {
            background-color: #F0FFF0;
        }

        #formDailyModal #pageSection .lightYellow-col {
            border-top-width: 1px !important;
        }

        #formDailyModal #pageSection .k-grid-toolbar {
            border-bottom-width: 1px !important;
        }

        #formDailyModal #pageSection .k-grid tr:last-child td {
            border-bottom-width: 1px !important;
        }

        #formDailyModal #pageSection a.k-pager-first, #pageSection a.k-pager-last {
            display: none !important;
        }

        #formDailyModal .right-border {
            border-right-width: 1px !important;
        }

        #formDailyModal .contert-number input {
            border: 1px solid #b6bbc0 !important;
        }
        #formDailyModal .ajax-loader{
            left:48%;
            top:37%;
        }
    </style>
    <script>        
        $(document).ready(function () {         
            $(window).resize(function () {
                var curPageId = $("#pageSection > div:visible").attr("id");
                var newHeight = CalculateGridHeight();
                if (newHeight != 0) {
                    $("#pageSection #" + curPageId + " .k-grid").height();
                }
                debugger;
                AdjustWorkflowSteps();
            });
            AdjustWorkflowSteps();
        });
        function CalculateGridHeight() {
            var gridHeight = 0;
            if ($(".ngdialog-content").length > 0) {
                var curPageId = $("#pageSection > div:visible").attr("id");
                var mainHeadHeight = $(".main-head").height();
                var topSectionHeight = $(".daily-top-section").height();
                var pageToolbarHeight = $(".page-toolbar").height();
                var gridToolbarHeight = $("#" + curPageId + " .k-grid-toolbar").height();

                if ($(".ngdialog-content")[0] && $(".ngdialog-content")[0].clientHeight)
                    gridHeight = $(".ngdialog-content")[0].clientHeight - (mainHeadHeight + topSectionHeight + pageToolbarHeight + gridToolbarHeight)
                gridHeight -= 65;
            }
            return gridHeight;
        }
        function AdjustWorkflowSteps() {
            var firstStepLeft = ($(".progress-indicator li:visible").eq(0).width() / 2);
            var lastStepHalfWidth = $(".progress-indicator li:visible").eq($(".progress-indicator li:visible").length - 1).width() / 2;

            $(".progress-indicator span.line").css("left", (firstStepLeft + 10));
            var lineWidth = $(".progress-indicator").width() - (firstStepLeft + lastStepHalfWidth);
            $(".progress-indicator span.line").width(lineWidth - 1);
        }
    </script>
</form>
<style>
    /*-------------for filters settings ----------*/

    .k-filter-row th {
        padding: 4px 5px;
        border-right-width: 0px;
        font-family: 'Source Sans Pro', sans-serif!important;
    }

    .k-filtercell > .k-operator-hidden {
        padding-right:0px;
    
    }

    /*-------Filters' yellow cross button--------*/
    button.k-button.k-button-icon {
        top:2px;
    }
    </style>
